<div class="contact-form-wrap">
  <div class="contact-form form-vertical">
    {%- assign formId = 'ContactForm' -%}
    {% form 'contact', id: formId %}
      {% include 'form-status', form: form, form_id: formId %}

      <input
        type="text"
        id="{{ formId }}-name"
        name="contact[{{ 'contact.form.name' | t }}]"
        value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
        placeholder="Name*"
        required
      >

      <input
        type="email"
        id="{{ formId }}-email"
        name="contact[email]"
        autocorrect="off"
        autocapitalize="off"
        placeholder="Email*"
        required="true"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        {%- if form.errors contains 'email' -%}
          class="input--error"
          aria-invalid="true"
          aria-describedby="{{ formId }}-email-error"
        {%- endif -%}
      >
      {%- if form.errors contains 'email' -%}
        <span id="{{ formId}}-email-error" class="input-error-message">
          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
          {% include 'icon-error' %}
          <span>
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}.</span
          >
        </span>
      {%- endif -%}

      <div class="grid grid--half-gutters">
        <div class="grid__item medium-up--one-half">
          <input
            type="tel"
            id="{{ formId }}-phone"
            name="contact[{{ 'contact.form.phone' | t }}]"
            pattern="[0-9\-]*"
            value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            placeholder="Phone Number*"
            required
          >
        </div>

        <div class="grid__item medium-up--one-half">
          <select name="text_or_call" required>
            <option value="">Text or Call Prefered?</option>
            <option value="Text">Text</option>
            <option value="Call">Call</option>
          </select>
        </div>
      </div>
      <textarea
        rows="10"
        id="{{ formId }}-message"
        name="contact[{{ 'contact.form.message' | t }}]"
        placeholder="Message"
      >{% if form.body %}{{ form.body }}{% endif %}</textarea>
      <input type="hidden" id="pageurl" name="pageurl" value="{{ page.url }}">
      <div class="btn-wrap">
        <input type="submit" class="btn" value="Get Free Estimate">
      </div>

      {% if form.posted_successfully? %}
        <script>
          window.location = "/pages/thank-you";
        </script>
      {% endif %}
    {% endform %}
  </div>
</div>
{% schema %}
{
    "name" : "Custom Contact Form",
    "settings" : [

    ],
    "presets": [
        {
            "name": "custom contact form"
        }
    ]
}
{% endschema %}
